$white: #ffffff;
$black: #000000;
$background: #eeeeee;
$green: #47c868;
$yellow: #f6c937;
$red: #ff0066;
$blue: #39b0e6;
$violet: #652bcf;
$cyan: #37f6b8;
$grey: #999999;
$secondary-grey: #f7f7f7;
$gradient: linear-gradient(134deg, #3593e6 0%, #17cae6 100%);
