@import "../../assets/fonts/stylesheet.scss";

$Rajdhani-SemiBold: "Rajdhani-SemiBold";
$Rajdhani-Bold: "Rajdhani-Bold";
$ProximaNova-Bold: "ProximaNova-Bold";
$ProximaNova-Semibold: "ProximaNova-Semibold";
