@font-face {
  font-family: "Rajdhani-SemiBold";
  src: url("./rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani-Bold";
  src: url("./rajdhani/Rajdhani-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("./proximanova/ProximaNova-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("./proximanova/ProximaNova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
